# macOS system files to ignore

# Icon?
Icon?

# macOS resource forks
._*

# Thumbnail cache files
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns

# Directories potentially created on network or removable volumes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk